.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding: 10px 20px;

    color: white;
    font-family: Arial, sans-serif;
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
    margin-left: 0;
    /* Ensure h1 is aligned to the far left */
}

.nav-button {
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: rgb(134, 239, 172);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #0056b3;
    color: white;
}

.connect-button {
    margin-right: 0;
    /* Align to the far right */
}